::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #afafaf; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #017DC3; 
}

.cutsom-main-padding{
	padding-top: 40px !important;
}
.cutsom-admin-padding{
	padding-top: 70px !important;
}
.custom-home-bg{
	background: url('../images/background/bg.png') no-repeat;
	background-position: center top;
    background-size: cover;
}
.bannerCord1{
	background: linear-gradient(to bottom, #01a79b, #00a658);
}
.bannerCord2{
	background: linear-gradient(to bottom, #00a59e, #0057a4);
}
.bannerCord3{
	background: linear-gradient(to bottom, #89c704, #04a999);
}
.bannerCord1 h3{
	color: #fff;
	font-size: 20px;
}
.bannerCord2 h3,.bannerCord3 h3{
	color: #fff;
    padding-top: 18px;
    font-size: 20px;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
	border-bottom: 1px solid red;
}
.btn:disabled{
	pointer-events: none;
}
.custom-navbar-header{
	width: 100% !important;
	background: #fff !important;
}
.custom-topbar{
	background: #fff !important;
}
.custom-menu > li > a.active{
	background: transparent !important;
}
.float-left > ol{
	float: left !important;
}
.custom-portal-btn{
	z-index: 999;
	padding-top: 5px;
}
.custom-cord{
	/*display: inherit;*/
}
.custom-cord > h3{
	display: inline-block;
	padding-left: 10px;
}
.cord-img-circle{
	width: auto;
}
.display-flex{
	display: flex;
}
.custom-card:hover{
	webkit-box-shadow: 0 14px 26px -12px rgba(119, 119, 119, 0.42), 0 4px 23px 0 rgba(103, 103, 103, 0.12), 0 8px 10px -5px rgba(255, 255, 255, 0.2);
    box-shadow: 0 14px 26px -12px rgba(119, 119, 119, 0.42), 0 4px 23px 0 rgba(103, 103, 103, 0.12), 0 8px 10px -5px rgba(255, 255, 255, 0.2);
}
.icon-center{
	display: inline-block;
	width: auto;
}
.custom-card-p{
	font-size: 15px;
}
.custom-card-title{
	margin-top: .75rem;
}
.custom-card-hr{
	border: .5px dotted #5C4AC7;
}
.custom-card-h4{
	font-size: 16px;
}
.custom-card-padding{
	padding: 20px !important;
}
.custom-card-header{
	border-bottom: .5px dotted #5C4AC7;
}
.custom-sub-card{
	min-height: 180px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
}
.custom-footer-card{
	padding: 40px !important;
    margin-bottom: 0;
    border-radius: 0 !important;
    background: #232e38;
}
.custom-btn-warning{
	background: #f57610;
	border-color: #f57610; 
}
.custom-btn-warning:hover{
	background: #f57610;
}
.custom-footer-hr{
	border-color: #717171;
}
.img-patch{
	background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.custom-modal-lg{
	max-width: 1000px;
}
.custom-page-titles{
	background: #2f3d4a;
}
.custom-card-title{
	color: #99abb4;
}
.custom-footer{
	background: #25303a;
}
.custom-img-card{
	border: 5px solid #fff !important;
}
.filterheading{
	width: 100%;
	height: 56px;
	background: #f4781b;
	color: #000000;
}
#vertical-menu {
    width: 100%;
    margin: 25px auto 0 auto;
    color: black;
    /*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}
/*heading styles*/
 #vertical-menu h3 {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    border-bottom: 1px solid #000;
}
#vertical-menu ul{
	padding: 0px !important;
}
/*heading hover effect*/
 #vertical-menu h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
 #vertical-menu h3 span {
    font-size: 16px;
    margin-right: 10px;
}
/*list items*/
 #vertical-menu li {
    list-style-type: none;
}
/*links*/
 #vertical-menu ul ul li a {
    color: black;
    text-decoration: none;
    font-size: 11px;
    line-height: 27px;
    display: block;
    padding: 0 15px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
}

/*Lets hide the non active LIs by default*/
 #vertical-menu ul ul {
    display: none;
}
#vertical-menu li.active ul {
    display: block;
}