[type=checkbox]:checked, [type=checkbox]:not(:checked) {
  position: unset; 
  left: unset;
   opacity: unset;
}

.custom-search{
  width:500px !important;
}

.custom-search::placeholder { font-size: 0.8em;opacity: .5}

.custom-search:focus{
  box-shadow: unset;
}
.header-search{
  height: 100%;
}
.custom-search{
  width:80% !important;
}
.height-200{
  height:200px;
}
.height-500{
  height:500px;
}
.el-element-overlay .el-card-item {
    position: relative;
    padding-bottom: 0px;
}
.el-element-overlay .el-card-item .el-card-content {
    text-align: center;
    height: 50px;
    overflow: hidden;
}
.no-datas p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #f5f5f5;
}
.dropzone i{
  font-size: 5rem;
}
.dropzone .dz-message {
  color: rgba(0,0,0,.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
}
.chat-time{
  width: 100px !important;
}
.chat-rbox{
  width: 100%;
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}